.footer {
    background-color: #58a16e;
    color: #eef4da;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    font-family: 'BioRhyme', serif;
    font-size: 12pt;

    .copyright {
        margin-left: 42vw;
        display: inline-flex;
        gap: 5px;
        align-items: center;

        .github-link :hover {
            stroke: rgba(240,105,102,1);
            fill:rgba(240,105,102,1);
        }
    }

}