@font-face {
    font-family: 'seaside';
    src: url('./fonts/seasrn__-webfont.woff2') format('woff2'),
        url('./fonts/blokletters-balpen-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'blok';
    src: url('./fonts/blokletters-balpen-webfont.woff2') format('woff2'),
        url('./fonts/blokletters-balpen-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    margin: 0;
}

.header {
    overflow: hidden;
    background-color: #6abe83;
}
.name {
    font-family: 'seaside';
    font-size: 50pt;
    font-weight: 900;
}
.slogan {
    font-family: 'blok';
    font-size: 25pt;
    padding: 30px;
    font-weight: 900;
}
button {
    float: left;
    color: #eef4da;
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 15px 50px;
    transition: 0.3s;
    font-size: 25px;
    font-family: 'blok';
    font-weight: 800;
}

button:hover {
    background-color: #f1ac9d;
}

button.active {
    background-color: rgba(240,105,102,1) ;
}
#content {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100%;
    background-color: #eef4da;
    color: #6abe83;
    font-family: 'blok';
    height: auto;
    overflow: scroll;
}

.display {
    height: 100vh;
    overflow: inherit;
}
.tabContent {
    height: 100vh;
}

#Home2 {
    background-image: url('./img/sandwich.jpg');
    background-size: cover;
    background-position: 10% 15%;
}

.home{
    text-align: center;
    padding: 60px 30px;
    background-color: rgba(60, 59, 59, 0.492);
}
.slogan{
    padding: 20px;
}

.menus {
    padding: 60px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.starters, .sandw, .drinks {
    display: grid;
    grid-template: 0.5fr 2fr 2fr / 1fr 1fr;
    gap: 40px;
}
.starters > div:first-child, .sandw > div:first-child, .drinks > div:first-child {
    font-family: 'seaside';
    font-size: 30pt;
    grid-column: span 2;
    align-self: end;
    border: none;
}
.menus > div > div {
    font-size: 18pt;
    font-family: 'seaside';
    border: 1px solid;
    padding: 30px;
    display: grid;
    gap: 30px;
    place-items: center center;
}
.menus > div p {
    font-family: 'blok';
    font-size: 18pt;
    grid-column: span 2;
    justify-self: left;
}
#Contact2 {
    font-family: 'seaside';
    background-image: url(./img/contact.jpg);
    background-size: cover;
    background-position: center;
    color: #eef4da;
    font-size: 20pt;
    text-align: center;
    padding-top: 2em;
}
.contact {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

footer {
    background-color: #58a16e;
    color: #eef4da;
    padding: 10px;
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 35%;
}
footer img {
    position: relative;
    top: 5px;
    left: 20px;
}